*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
  background-color:  #E6B539;
  position: relative;
  color: #efefef;
  text-align: center;
}
body a, body a:visited {
  color: #efefef;
  text-decoration: none;
}
body a:hover {
  color: #fff;
}

.slick-slide, .slick-slide::before, .caption {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slick-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 5%;
  text-align: left;
  z-index: 1;
}
header h1 {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  padding-top: 18px;
}
header nav {
  display: inline-block;
  float: right;
}
header nav ul li {
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
}
header nav ul li a {
  display: block;
  padding: 24px 15px;
}
header nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.18);
}

.main-slider {
  position: relative;
  width: 100%;
  height: 38vw;
  min-height: 8vw;
  margin-bottom: 50px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}
.main-slider.slick-initialized {
  opacity: 1;
  visibility: visible;
}

.slick-slide {
  position: relative;
  height: 38vw;
}
.slick-slide::before {
  background-color: #000;
  opacity: .3;
  z-index: 1;
}
.slick-slide video {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.slick-slide iframe {
  position: relative;
  pointer-events: none;
}
.slick-slide figure {
  position: relative;
  height: 100%;
}
.slick-slide .slide-image {
  opacity: 0;
  height: 100%;
  background-size: cover;
  background-position: center;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
}
.slick-slide .slide-image.show {
  opacity: 1;
}
.slick-slide .image-entity {
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.slick-slide .loading {
  position: absolute;
  top: 44%;
  left: 0;
  width: 100%;
}
.slick-slide .slide-media {
  -webkit-animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideOut 0.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active {
  z-index: 1;
}
.slick-slide.slick-active .slide-media {
  -webkit-animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
          animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
}
.slick-slide.slick-active .caption {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
  transition: all 0.7s cubic-bezier(0.32, 0.34, 0, 1.62) 0.6s;
}

.caption {
  position: absolute;
  top: 44%;
  left: 5%;
  text-align: center;
  padding: 20px;
  border: 3px solid;
  color: #fff;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: .02em;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.slick-dots {
  text-align: center;
  padding-top: 15px;
}
.slick-dots li {
  display: inline-block;
  vertical-align: top;
  margin: 0 8px;
}
.slick-dots li button {
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 0 0 transparent;
  vertical-align: middle;
  color: #fff;
  background-color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  opacity: .4;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover {
  opacity: 1;
}
.slick-dots li.slick-active button {
  border-color: #2d3042;
  box-shadow: 0 0 0 2px #fff;
  opacity: 1;
}

.container {
  background-color: #f2f2f2;
  color: #444;
	
  width: 100%;
	MAX-height: 90%;
  line-height: 1.6;
  padding: 40px 0;
}
.container .content {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}
.container p {
  margin-bottom: 40px;
}

@-webkit-keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes slideIn {
  from {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
  to {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}
@-webkit-keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}
@keyframes slideOut {
  from {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  to {
    -webkit-filter: blur(15px);
            filter: blur(15px);
  }
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
}


.flex-center {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
body {
	background-color:  #D78A4C;
}


.outer-menu {
  position: fixed;
  top: 10vh;
  left: 0;
  z-index: 1;
}
.outer-menu .checkbox-toggle {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:before,
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.outer-menu .checkbox-toggle:checked + .hamburger > div:after {
  opacity: 0;
}
.outer-menu .checkbox-toggle:checked ~ .menu {
  pointer-events: auto;
  visibility: visible;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}
.outer-menu .checkbox-toggle:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}
.outer-menu .checkbox-toggle:hover + .hamburger {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 0.5em 1em;
  background: #9CAA2D;
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  -webkit-transition: box-shadow 0.4s ease;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.outer-menu .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
          flex: none;
  width: 100%;
  height: 2px;
  background: #FEFEFE;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.outer-menu .hamburger > div:before,
.outer-menu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.outer-menu .hamburger > div:after {
  top: 10px;
}
.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  outline: 1px solid transparent;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.outer-menu .menu > div {
  width: 200vw;
  height: 200vw;
  color: #FEFEFE;
  background: #D78A4C;
  border-radius: 50%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-flex: 0;
          flex: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.outer-menu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  -webkit-box-flex: 0;
          flex: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.outer-menu .menu > div > div > ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}
.outer-menu .menu > div > div > ul > li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
}
.outer-menu .menu > div > div > ul > li > a {
  position: relative;
  display: inline;
  cursor: pointer;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.outer-menu .menu > div > div > ul > li > a:hover {
  color: #e5e5e5;
}
.outer-menu .menu > div > div > ul > li > a:hover:after {
  width: 100%;
}
.outer-menu .menu > div > div > ul > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #e5e5e5;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
	
}


@teal: #0096a0;
@tealMid: #0ebac7;
@tealContrast: #33ffff;
@tealShade:	#007c85;

@darkGrey: #4f585e;

body {
  background: @lightBG;
  color: @darkGrey;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
}

a.btn {
  background: @teal;
  border-radius: 4px;
	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.25);
  color: @white;
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
	transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
  background: lighten(@teal,2.5);
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
  background: darken(@teal,2.5);
  box-shadow: 0 1px 0px 0 rgba(255,255,255,0.25);
  transform: translate3d(0,1px,0);
  transition: all 0.025s 0s ease-out;
}

div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
}

div.card {
  background: @white;
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position:inherit;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;

  img {
    max-width: 300px;
  }
  
  .card__image-holder {
    background: rgba(0,0,0,0.1);
    height: 0;
    padding-bottom: 75%;
  }

  div.card-title {
    background: @white;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;
    
    a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;
      
      span {
        background: @white;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }
      
      span.left {
        right: 14px;
        transform: rotate(45deg);
      }
      span.right {
        left: 14px;
        transform: rotate(-45deg);
      }
    }
    
    h2 {
      font-size: 24px;
      font-weight: bold;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;
      
      small {
        display: block;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.025em;
      }
    }
  }

  div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 14px;
  }

  div.card-actions {
  	box-shadow: 0 2px 0px 0 rgba(0,0,0,0.075);
    padding: 10px 15px 20px;
    text-align: center;
  }
  
  div.card-flap {
    background: darken(@white,15);
    position: absolute;
    width: 100%;
    transform-origin: top;
    transform: rotateX(-90deg);
  }
  div.flap1 {
    transition: all 0.3s 0.3s ease-out;
    z-index: -1;
  }
  div.flap2 {
    transition: all 0.3s 0s ease-out;
    z-index: -2;
  }
  
}

div.cards.showing {
  div.card {
    cursor: pointer;
    opacity: 0.6;
    transform: scale(0.88);
  }
}

.no-touch  div.cards.showing {
  div.card:hover {
    opacity: 0.94;
    transform: scale(0.92);
  }
}

div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;

  div.card-title {
    a.toggle-info {
      background: @salmon !important;
      span {
        top: 15px;
      }
      span.left {
        right: 10px;
      }
      span.right {
        left: 10px;
      }
    }
  }
  div.card-flap {
    background: @white;
    transform: rotateX(0deg);
  }
  div.flap1 {
    transition: all 0.3s 0s ease-out;
  }
  div.flap2 {
    transition: all 0.3s 0.2s ease-out;
  }
}



*:not(a svg) {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  top: 0px;
  left: 0px;
  margin: 0 auto;
  height: 100%;
  
}

/********HERO SECTION******/

#hero {
  background: #fff;
  overflow: auto;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.hero div {
}

/******Main Site*******/

#flexbox {
  width: 100%;
}
@media screen and (min-width: 61.325em) {
  #flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.block {
  width: 100%;
  height: 100vh;
}

.bg {
  background-color: #f6f6f6;
}

@media screen and (min-width: 61.325em) {
  .left {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media screen and (min-width: 61.325em) {
  .right {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
}

#1 {
}
#2 { 
  top: 10vh;
}
#3 {
}
#4 {
}

#bg {
  
}
#space {
  height: 50vh;
}*:not(a svg) {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  top: 0px;
  left: 0px;
  margin: 0 auto;
  height: 100%;
  
}

/********HERO SECTION******/

#hero {
  background: #fff;
  overflow: auto;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.hero div {
}

/******Main Site*******/

#flexbox {
  width: 100%;
}
@media screen and (min-width: 61.325em) {
  #flexbox {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.block {
  width: 100%;
  height: 100vh;
}

.bg {
  background-color: #f6f6f6;
}

@media screen and (min-width: 61.325em) {
  .left {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media screen and (min-width: 61.325em) {
  .right {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
  }
}

#1 {
}
#2 { 
  top: 10vh;
}
#3 {
}
#4 {
}

#bg {
  
}
#space {
  height: 50vh;
}

/************New PreLoader*****************/

@font-face{
	font-family:letra logo;
	src: url("../Mf Queen Leela.ttf")
}
#pre-load {
   background: #1C1C1C;
  overflow-y: hidden !important;
  height: 100vh;
  width: 100%;
  margin: 0;
  position: fixed;
z-index: 999;
margin-top: 0px;
top: 0px;
	font-family:letra logo;
	
}

.preloader {
  overflow: hidden !important;
  position: absoulte;
  top: 0;
	font-family:letra logo;
}

.preloader:before, .preloader:after {
  position: absolute;
  top: 0px;
  left: 0;
  height: 6px;
  content: "";
}

.preloader:before {
  width: 100%;
  background-color: #AEC55E;
  
}

.preloader:after {
  width: 0px;
  background-color:   #CF7133;
  animation-delay: 0s !important;
-webkit-animation: load-in 4s ease-in-out;
}

@-webkit-keyframes loadingAnim {
  0% {width: 0%;}
  50% {width: 50%;}
  100% {width: 100%;}
}

@keyframes load-in {
  0% {
    width:0;
  }
  33%{
    width:100%;
  }
  36%{
    transform: translateX(0);
    width:100%;
    transform-origin: right;
  }
  100%{
    transform: translateX(100%);
    transform-origin: right;
  }
}
/*****************************/

#Layer_1 {
  animation: dash 5s ease-in-out; 
}
.path {
  stroke: 1; 
}
#logo {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0; right: -25%; bottom: 0; left: -25%;
  margin: auto;
  display:block; 
  stroke: #2fd6a7;
  fill: #2fd6a7;
  stroke-miterlimit: 5;
  animation: FillIn 3s linear;
  z-index: 2;
 
}

#logo:hover {
  animation: pulse 2s ease-in-out;
    transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

#text {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
	font-family:letra logo;
}
@keyframes dash {
  to {
    stroke-dashoffset: 1;
    /* works, know why */
    fill: #fff;

  }
}
.dash {
  animation-name: dash;
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  animation-duration: 4s;
  animation-delay: 0s;
   -webkit-animation-iteration-count: 1;
   -webkit-animation-fill-mode: forwards;
}

@keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}
/******Hero Section**********/

#bg {
  position: relative;
  top: 10%;
  left: 14%;
  max-width: 100%;
  width: 77.4vw;
}
.bgimg {
  position: relative;
  margin: 0;
  height: 80vh;
  z-index: 1;
  background-size: cover;
  background-image: url(http://static1.squarespace.com/static/507d43eee4b043a005877a1e/t/554c9baee4b0c0cf87db07e3/1431083958240/Candy+Black+2jpg?format=1000w);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 119px 9px rgba(0, 0, 0, 0.18);
}
@media screen and (max-width: 767px) {
  #bg {
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
  }
}
@media screen and (max-width: 767px) {
  .bgimg {
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    height: 100vh;
    top: 0;
  }
}

#hero-txt {
  width: 50%;
  margin: auto;
  position: relative;
  z-index: 2;
}
#hero-txt h1 {
  position: absolute;
  top: -42vh;
  left: -35%;
  width: 70%;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2;
  letter-spacing: 1.45em;
  color: #2fd6a7;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  #hero-txt h1 {
    display: block;
    width: 80%;
    right: 0;
    top: -66vh;
    font-size: 1.6rem !important;
  }
}

/********Top Circle*************/

.circle-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 14%;
  z-index: 3;
  left: 14%;
  cursor: pointer;
  background-color: #1c1c1c;
  border-radius: 50%;
}
.circle-1 svg {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.circle-1:hover {
  animation-name: ckw;
  animation-duration: 2s;
  animation-iteration-count: ease;
  display: block;
  transform-origin: 50% 50%;
}
@keyframes ckw {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rad {
  position: absolute;
  border: 2px dashed #2fd6a7;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  top: 5rem;
  z-index: 1;
  left: 9%;
  z-index: 2;
}
#rad:hover {
  animation: pulse 0.6s ease-in-out;
}
#rad svg {
  fill: #2fd6a7;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 1px;
  border-radius: 50%;
}
@media screen and (max-width: 767px) {
  #rad {
    left: -10%;
    top: 3%;
  }
}
@media screen and (max-width: 767px) {
  .circ {
    top: 88vh;
    z-index: 999;
    margin-top: -5vh;
  }
}

/************Bottom Square***********/

.sqar {
  bottom: 8% !important;
  right: 6.5% !important;
  width: 75px;
  height: 75px;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  background-color: #AEC55E;
}
.sqar svg {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  fill: #000000;
}

.sqar:hover {
  animation: pulse 0.6s ease-in-out;
}
@media screen and (max-width: 767px) {
  .sqar {
    top: 82vh;
    z-index: 999;
    margin-top: 1vh;
    margin-right: -4%;
  }
}

/********White Square*********/
.white {
  position: absolute;
  bottom: 6% !important;
  right: 2% !important;
  width: 150px;
  height: 100px;
  position: absolute;
  z-index: 2;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  .white {
    background-color: #fff !important;
    width: 105px;
    height: 110px;
    margin-bottom: -7.5%;
    margin-right: -2%;
  }
}

/********Sm Bg Img*********/

.sm-img {
  position: absolute;
  bottom: 16vh !important;
    right: 2vw !important;
    width: 325px !important;
  height: 40%;
  z-index: 2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-size: contain;
  background-image: url(http://devlamb.com/wp-content/uploads/2016/02/web_design_studio_hamilton.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
/*********90deg Text*******/

.ex-box {
  position: relative;
  width: 100%;
}
.ex {
  position: absolute;
  font-family: "Barlow Condensed", sans-serif;
  right: -2.2vh;
  bottom: 36vh;
  font-weight: 700;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 1.5em;
  color: #2fd6a7;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: 3;
}
/******************************/
/**  Sectio Two  **/
/******************************/

/***********2nd Circle****************/

#shift-d {
  position: relative;
  left: 42vw !important;
    top: -50vh !important;
  width: 60%;
  z-index: 3 !important;
}

#imgb {
  position: relative;
  width: 100%;
  top: 25vh;
  padding-bottom: 10vh;
}

.img-box {
  position: absolute;
  left: -8vw !important;
  width: 100%;
  height: 100vh;
  top: 5vh !important;
  z-index: 1;
  background-size: contain;
  background-image: url(http://www.adidas.com/com/apps/climaheatfw17/CDN_PATH/img/patches/texture_strip_01.png);
  background-position: center;
  background-repeat: no-repeat;
}
.img-box-2 {
  position: absolute;
  background-image: url(http://www.adidas.com/com/apps/climaheatfw17/CDN_PATH/img/patches/texture_patch_02.png);
  height: 96vh;
  width: 400px !important;
  opacity: 0.8;
  background-repeat: no-repeat;
  left: 26vw !important;
  top: -12vh !important;
}
.img-box-3 {
  position: absolute;
  left: 16vw !important;
  width: 70%;
  height: 100vh;
  top: 16vh;
  z-index: 3;
  background-size: cover;
  background-image: url(http://www.cbc.ca/natureofthings/content/images/episodes/runningonempty_vancouverisland.jpg);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 10px 10px 119px 9px rgba(0, 0, 0, 0.18);
}

/**********Sec Two Text***********/

#wel-txt {
  position: relative;
  z-index: 3;
  top: 40vh;
  left: 0;
}
@media screen and (max-width: 767px) {
  #wel-txt {
    width: 90%;
    margin-left: 10%;
    top: 22vh;
  }
}
.wel-txt-1 {
  position: absolute;
  font-size: 3rem;
  letter-spacing: 0.6em;
  text-transform: uppercase !important;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  width: 80%;
  letter-spacing: 0.22em;
  color: #2fd6a7;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .wel-txt-1 {
    font-size: 2rem;
  }
}
.wel-2-box {
  position: relative;
  z-index: 3;
  top: 80vh;
  left: 31.7%;
  width: 44%;
  
}
@media screen and (max-width: 767px) {
  .wel-2-box {
    left: 10%;
    top: 50vh;
    width: 60%;
  }
}
.wel-2-box p {
  font-family: "Anton", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  font-size: 0.7rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.top {
  border-top: 1px solid #000;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.top-txt {
  position: relative;
  width: 60%;
  top: 30vh;
  left: 40%;
}
@media screen and (max-width: 767px) {
  .top-txt {
    top: 5vh !important;
  }
}

.subtitle {
  position: absolute;
  color: #1c1c1c;
  font-size: 0.8rem;
  line-height: 2em;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  width: 45%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .subtitle {
    margin-left: -50%;
    top: 10vh;
  }
}
.subtitle:after {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  background-color: #1c1c1c;
  text-align: right;
  position: absolute;
  left: 10vw;
  bottom: 2vh;
}
@media screen and (max-width: 767px) {
  .subtitle:after {
    left: 30vw !important;
  }
}


/***********Btn************/

a {
  text-decoration: none;
}

.myButt {
  margin: 20px 0px;
  outline: none;
  border: none;
  padding: 15px 30px;
  display: block;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  position: relative;
  border: 2px solid #1c1c1c;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  letter-spcing: 1em;
}
.myButt:hover {
  border: 2px solid #2fd6a7;
  color: #fff;
  background-color: #2fd6a7;
}

.four {
  overflow: hidden;
}
.four span {
  color: #1c1c1c;
  display: inline-block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.four .icon {
  position: absolute;
  right: -60px;
  top: -10%;
  color: #fff;
  padding: 20px;
  background-color: #2fd6a7;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.four:hover .icon {
  right: 0px;
}
.four:hover span {
  color: #fff;
  margin-right: 50px;
}

/************************/
/***Section Three********/
/************************/

.thr {
  margin-bottom: 10vh !important;
}
#img-box-2 {
  position: relative;
  width: 100%;
  right: 7vw;

}
.img-1 {
  
    left: 30% !important;
    width: 60%;
    height: 100vh;
    top: 20vh !important;
  z-index: 1;
  background-size: cover;
  background-image: url(https://images.pexels.com/photos/459654/pexels-photo-459654.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-position: center;
  background-repeat: no-repeat;
   box-shadow: 10px 10px 119px 9px rgba(0, 0, 0, 0.18);
}
.i2 {
  
   background-image: url(https://images.pexels.com/photos/674268/pexels-photo-674268.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) !important;
       width: 70% !important;
    height: 60vh !important;
    z-index: 2;
        top: 46vh !important;
    left: -8vw !important;
   box-shadow: 10px 10px 119px 9px rgba(0, 0, 0, 0.18);
}
.t {
   background-image: url(http://www.cbc.ca/natureofthings/content/images/episodes/runningonempty_vancouverisland.jpg) !important;
  width: 70%;
  height: 100vh;
  left: 0 !important;
}
/*****New Sqar*****/
.nsa {
    position: relative;
    width: 50%;
    margin: 50px auto;
    top: -12vh !important;
    z-index: 3;
    right: 8vw !important;
}

.n-sqar {
      position: absolute;
    height: 75px;
    width: 75px;
    background-color: #1c1c1c;
    left: 12%;
    top: 12%;  
  
}
.n-sqar:hover {
  animation: pulse .6s ease-in-out !important;
}
.n-sqar svg {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  fill: #2fd6a7;
}
.n-sqar-dash {
    position: absolute;
    border: 3px dashed #2fd6a7;
    height: 100px;
    width: 100px;
    z-index: 3;
  
}
.n-sqar-dash:hover {
  animation: pulse .6s ease-in-out !important;
}


/************2nd Wel Text*****/
.tt {
    top: 5vh !important;
    left: -6vw;
}
.sub-right {
  position: absolute;
  color: #1c1c1c;
  font-size: 0.8rem;
  line-height: 2em;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  width: 45%;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}
.sub-right:before {
    content: "";
    display: block;
    height: 1px;
    width: 100px;
    background-color: #1c1c1c;
    text-align: right;
    position: absolute;
    right: 14vw;
    bottom: 2vh;
  
}
#wel-txt-2 {
  position: relative;
  z-index: 3;
      top: 40vh;
    right: -7vw;

}
@media screen and (max-width: 767px) {
  #wel-txt-2 {
    width: 90%;
    margin-left: 10%;
    top: 22vh;
  }
}
#wel-txt-2 h1 {
  position: absolute;
  font-size: 3rem;
  letter-spacing: 0.6em;
  text-transform: uppercase !important;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  line-height: 1.4;
  width: 60%;
  letter-spacing: 0.22em;
  color: #2fd6a7;
  z-index: 2;
  text-align: right;
}
@media screen and (max-width: 767px) {
  #wel-txt-2 {
    font-size: 2rem;
  }
}
.sub-right:before {
    content: "";
    display: block;
    height: 1px;
    width: 100px;
    background-color: #1c1c1c;
    text-align: right;
    position: absolute;
    right: 14vw;
    bottom: 2vh;
  
}


.move {
   top: 90vh;
    left: 12%;
  text-align: right !important;
}
.mb2 {
  text-align: right;
    float: right;
}

.five {
  overflow: hidden;
}
.five span {
  color: #1c1c1c;
  display: inline-block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.five .icon {
  position: absolute;
  left: -60px;
  top: -10%;
  color: #fff;
  padding: 20px;
  background-color: #2fd6a7;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
.five:hover .icon {
  left: 0px;
}
.five:hover span {
  color: #fff;
  margin-left: 50px;
}
/**********Hide**********/

.hide {
  display: block;
}
@media screen and (max-width: 767px) {
  .hide {
    display: none;
  }
}



/********************************/
.slideDown {
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	
	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;
animation-iteration-count: 1;
	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	
	visibility: visible !important;	
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
   bottom: 0 !important;
}

@keyframes slideDown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

@-webkit-keyframes slideDown {
	  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

/**************************/
.fadeIn {
 animation: fadeIn;
-webkit-animation: fadeIn 700ms ease-in-out 1s both;
animation: fadeIn 700ms ease-in-out 1s both;
}

@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:1}}
@keyframes fadeIn{from{opacity:0}to{opacity:1}}


/*************************/
.slideInUp {
	animation-name: slideInUp;
	-webkit-animation-name: slideInUp;	

	animation-duration: 2s;	
	-webkit-animation-duration: 2s;
animation-iteration-count: 1;
	animation-timing-function: ease-in;	
	-webkit-animation-timing-function: ease-in;	
	visibility: visible !important;						
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

